.main{
    width: 100%;
}
.card {
    width: 60%;
    height: 250px;
    box-shadow: 1px 1px 10px black;
    text-align: center;
    padding-bottom: 20px;
    border-radius: 20px;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    padding-top: 10px;
  }

  @media screen and (max-width:600px) {
    .card {
      width: 90%;
    }
  }